<section *ngIf='_task' class='panel'>
  <form (ngSubmit)='onSubmit()' #taskForm='ngForm'>
    <p>{{operationText}} action:</p>
    <div class='row'>
      <div class='col col-md-2 form-group'>
        <label>Category:</label><input class='form-control' type='text' name='category' [(ngModel)]='_task.category' list="">
      </div>
      <div class='col col-md-4 form-group'>
        <label>Name:</label><input class='form-control' type='text' name='name' [(ngModel)]='_task.name' required>
      </div>
      <div class='col col-md-2 form-group'>
        <label>Done?:</label><input class='form-control' type='checkbox' name='done' [(ngModel)]='_task.done'>
      </div>
      <div class='col col-md-1 form-group'>
        <button type='submit' class='btn btn-success'
          [disabled]='!taskForm.form.valid' [hidden]='!isInsert'>Submit</button>
      </div>
    </div>
    
    
  </form>
</section>
