<div class='table-responsive'> 
  <table class='table' *ngIf='tasks && tasks.length'>
    <thead>
      <tr>
        <th (click)='sort("category")' class='pointer'>Category<span [class]='_sorter.property === "category" ? sortGlyph() : ""'></span></th>
        <th (click)='sort("name")' class='pointer'>To Do Task<span [class]='_sorter.property === "name" ? sortGlyph() : ""'></span></th>
        <th (click)='sort("dateCreated")' class='pointer'>Date Created<span [class]='_sorter.property === "dateCreated" ? sortGlyph() : ""'></span></th>
        <th (click)='sort("done")' class='pointer'>Done?<span [class]='_sorter.property === "done" ? sortGlyph() : ""'></span></th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let task of tasks'>
        <td>{{task.category}}</td>
        <td>
          <del *ngIf='task.done; else notDone'>{{task.name}}</del>
          <ng-template #notDone>{{task.name}}</ng-template>
        </td>
        <td>{{task.dateCreated | date}}</td>
        <td>
          <input type='checkbox' [(ngModel)]='task.done' (check)='selectTask(task)' class='form-control'>
        </td>
        <td><button class='btn btn-default' (click)='selectTask(task)'>Edit</button></td>
        <td><button class='btn btn-danger' (click)='deleteTask(task)'><span class='glyphicon glyphicon-remove'></span></button></td>
      </tr>
    </tbody>
  </table>
</div>
